/* Styles for larger screens */


@media screen and (min-width: 720px)	{
  
  
	
	.flex	{
      
		display: -ms-flexbox;


/* TWEENER - IE 10 */
      

		display: flex; 
      
		max-width: 1200px;
      
		-ms-flex-pack: distribute;
      
		justify-content: space-around;
      
		margin: 0 auto;
  
		}

 

	header	{
    
		min-height: 470px;
  
		}

  

	.nav	{
    
		max-width: 1200px;
    
		padding: 0 30px;
  
		}


  

	ul.pages	{
		list-style: none;
		}

	main	{
    
		padding-top: 20px;
  
		}

  

	main p	{
    
		line-height: 1.6em;
  
		}

  

	footer	{
    
		font-size: 1.3em;
   
		margin: 40px auto;
  
		}


	}




/* Style for Mobile Tablet */

@media screen and (max-width: 699px)	{

	.nav	{
		padding: 0 10px 0 0;
		}

	.tag	{
		background-color: #efefef;
  
		color: black;
  
		padding: 10px;
  
		border-radius: 5px;
  
		display: table;
  
		margin: 10px auto;
		font-size: 1.5em;
		}

	.location	{
  
		background-color: #dfdfdf;
  
		color: #fff;

		font-size: 1.2em;	
		}
	}

/* smartphone */

@media screen and (max-width: 487px)	{		

	.main-nav	{
		position: static;
		}
	header .profile-image	{
  
		margin-top: -50px;

		}

	.tag	{
		background-color: #efefef;
  
		color: black;
  
		padding: 0%;
  
		border-radius: 5px;
  
		display: table;
  
		margin: 10px auto;
		font-size: 100%;
		}

	.location	{
  
		background-color: #cfcfcf;
  
		color: #fff;

		font-size: 100%;
		margin-bottom: 10%;
		}
	.profile-image	{
		display: none;
		}
	}

@media screen and (min-width: 460px)	{
	ul.pages	{
		display: flex;
		float: right;
		}
	}

@media screen and (max-width: 360px)	{
	.h2-font-size	{
		font-size: 100%;
		}
	}

@media screen and (max-width: 320px)	{
	li.name	{
		font-size: 100%;
		margin: 2px;
		padding: 2px;
		}	

	.pages li a	{
		padding: 3px;
		}
	}

@media screen and (min-width: 220px)	{
	ul.pages	{
		list-style: none;
		}

	li.name	{
		background: #550000;
		}
	}