/* Styles for larger screens */


@media screen and (min-width: 720px)	{
  
  
	
	.flex	{
      
		display: -ms-flexbox;
		margin: 20%;


/* TWEENER - IE 10 */
      

		display: flex; 
      
		max-width: 1200px;
      
		-ms-flex-pack: distribute;
      
		justify-content: space-around;
     
		margin: 0 auto;
  
		}

  

	.card	{
		margin: 0 50px;
		}

	.nav	{
    
		max-width: 1200px;
    
		padding: 0 30px;
  
		}


  

	ul.pages	{
		list-style: none;
		}

	main	{
    
		padding: 5% 0 5% 0;
  
		}

  

	main p	{
    
		line-height: 1.6em;
  
		}

  

	footer	{
    
		font-size: 1.3em;
      
		margin: 40px auto;
  
		}


	}



@media screen and (max-width: 1278px)	{
	.card	{
		width: 100%;
		}
	}


/* Style for Mobile Tablet */

@media screen and (max-width: 699px)	{

	.nav	{
		padding: 0 10px 0 0;
		}
	}

/* smartphone */

@media screen and (max-width: 580px)	{		

	.main-nav	{
		position: static;
		}

	header	{
		margin-top: 5%;
		}

	.tag	{
		padding: 0;
  
		border-radius: 5px;
  
		display: table;
  
		margin-top: -30px;
		font-size: 100%;
		}
	}

@media screen and (min-width: 460px)	{
	ul.pages	{
		display: flex;
		float: right;
		}
	}

@media screen and (max-width: 360px)	{
	.h2-font-size	{
		font-size: 100%;
		}
	}

@media screen and (max-width: 320px)	{
	li.name	{
		font-size: 100%;
		margin: 2px;
		padding: 2px;
		}	

	.pages li a	{
		padding: 3px;
		}
	}

@media screen and (min-width: 220px)	{
	ul.pages	{
		list-style: none;
		}

	li.name	{
		background: #550000;
		}
	}