/**********************************************
Global Layout Set-up 
***********************************************/
 

*	{ 
  
	box-sizing: border-box;	
	}
  


body	{

	margin: 0;
  
	padding: 0;
  
	text-align: center;
  
	font-family: 'Fondamento', sans-serif;
  
	color: #252211;
  
	background: #272727;

	font-size: 1.3em;
	}

.fav	{
	color: #0f0;
	}

.weather	{
	color: #0ff;
	}

.sun-kissed	{
	color: #f50;
	}

h2	{
	font-family: 'Rock Salt', sans-serif;
	text-align: center;
	}

li.name	{
	font-family: 'Bungee Hairline', sans-serif;
	text-decoration: overline;
	border: 1.5px solid orange;
	}

.name	{
	font-family: 'Give You Glory', sans-serif;
	}


/* Link Styles */



a	{

	text-decoration: none;
  
	color: #999;

	}


a:hover	{
  
	color: #900;

	}



.pages li a	{
	background: #600;
	display: block;
	padding: 10px;
	transition: all .3s;
	}

.pages li a	{
	border: 1px solid #fa0;
	}

.pages li a:hover	{
	transform: scale(1.1) rotate(3deg);
	}

li.selected a	{
	color: white;
	}


/*********************************
 Section Styles 
**********************************/




/* navigation */
.main-nav	{
  
	width: 100%;
  
	background: black;
  
	min-height: 30px;
  
	padding: 10px;
  
	position: fixed;
  
	text-align: center;

	}


.nav	{
  
	display: flex;
  
	justify-content: space-around;
  
	font-weight: 700;
  
	list-style-type: none;
  
	margin: 0 auto;
	padding: 0;

	}



.nav .name	{
    
	display: block;
    
	margin-right: auto;
    
	color: white;

	}


.nav li	{
  
	padding: 10px 10px 10px 10px;

	}


.nav li a	{
  
	transition: all .3s;

	}


.nav a:hover	{
  
	color: white;

	}

/********************************
HEADER STYLING
*********************************/



header	{
  
	text-align: center;

	background-color: #333;   
	background-size: cover;
  
	overflow: hidden;

	padding-top: 60px;
	line-height: 1.5;
	}


.tag	{
  
	font-family: 'Give You Glory', sans-serif;
	color: #999;
  
	padding: 10px;
  
	border-radius: 5px;
  
	display: table;
  
	margin: 5% auto;

	} 

/***************************************
MAIN
****************************************/
.card	{
  
	margin: 30px;
 
	padding: 20px 40px 40px;
 
	width: 100%; 
	max-width: 954px;
  
	text-align: left;
  
	background: #fff;
  
	border-bottom: 4px solid #ababab;
  
	border-top: 4px solid #ababab;
	border-radius: 10px;
  
	transition: all .5s;

	}

.card:hover	{
  
	border-color: #600;

	}



ul.skills	{
  
	padding: 0;
  
	text-align: center;

	}



.skills li	{
  
	border-radius: 6px;
  
	display: inline-block;
  
	background: #ff9904;
  
	color: white;
  
	padding: 5px 10px;
  
	margin: 2px;

	}



.skills li:nth-child(odd)	{
  
	background: #828050;
	}

img	{
	height: 350px;
	width: 300px;
	display: block;
	margin: 0 auto;
	}


/******************************************
FOOTER STYLING
*******************************************/


footer	{
  
	width: 100%;
  
	min-height: 30px;
  
	padding: 40px 0 30px 0px;

	background: #fff;
	}



footer .copyright	{
  
	top: -8px;
  
	font-size: .75em;

	}



footer ul	{
  
	list-style-type: none;
  
	margin: 0;
  
	padding: 0;

	}



footer ul li	{
  
	display: inline-block;

	}



/*-- social icon --*/

a.social	{
  
	display: inline-block;
  
	text-indent: -9999px;
  
	margin-left: 5px;
  
	width: 30px;
  
	height: 30px;
  
	background-size: 30px 30px;
  
	opacity: .4;
  
	transition: all .5s;

	}

a.github	{
  
	background-image: url(images/github.svg);

	}


a.social:hover	{
  
	opacity: 1;

	}


.clearfix	{
  
	clear: both;

	}