/**********************************************
Global Layout Set-up 
***********************************************/
 

*	{ 
  
	box-sizing: border-box;	
	}
  


body	{

	margin: 0;
  
	padding: 0;
  
	text-align: center;
  
	font-family: 'Fondamento', sans-serif;
  
	color: #252211;
  
	background: #272727;

	font-size: 1.3em;
	}

h1	{
	color: #eee;
	border: 1.5px solid #fff;
	}

h2	{
	font-family: 'Rock Salt', sans-serif;
	text-align: center;
	}

li.name	{
	font-family: 'Bungee Hairline', sans-serif;
	text-decoration: overline;
	border: 1.5px solid orange;
	}

.name	{
	font-family: 'Give You Glory', sans-serif;
	}

.flex	{
	margin: 1px;
	}

.container1	{
	height: 100%;
	margin: 10% auto;
	padding: 10%;
	}

.dice	{
	position: relative;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	transform-style: preserve-3d;
	animation: spin 1s infinite alternate;
	}

@keyframes spin	{
	0% {
	Transform: rotateX(180deg) rotatey(-360deg) translateZ(0px);
	}
		}

.dice:hover > .side	{
	border-radius: 200%;
	}
	
.side	{
	position: absolute;
	height: 200px;
	width: 200px;
	opacity: 1;
	transition: .3s;
	}
	
.one	{
	transform: rotateX(90deg) translateZ(100px);
	background: #94b6e3;
	}
	
.two	{
	transform: translateZ(100px);
	background: #3c1428;
	}
	
.three	{
	transform: rotateY(90deg) translateZ(100px);
	background: #b6c399;
	}
	
.four	{
	transform: rotateY(180deg) translateZ(100px);
	background: #4c9;
	}
	
.five	{
	transform: rotateY(-90deg) translateZ(100px);
	background: #a20319;
	}
	
.six	{
	transform: rotateX(-90deg) translateZ(100px);
	background: #f9ae86;
	}

img	{
	width: 100%;
	border-radius: 100%;
	}


/* Link Styles */



a	{

	text-decoration: none;
  
	color: #999;

	}


a:hover	{
  
	color: #900;

	}



.pages li a	{
	background: #600;
	display: block;
	padding: 10px;
	border: 1px solid #ffaa00;
	transition: all .3s;
	}

.pages li a:hover	{
	transform: scale(1.1) rotate(3deg);
	}

li.selected a	{
	color: white;
	}


/*********************************
 Section Styles 
**********************************/




/* navigation */
.main-nav	{
  
	width: 100%;
  
	background: black;
  
	min-height: 30px;
  
	padding: 10px;
  
	position: fixed;
  
	text-align: center;

	}


.nav	{
  
	display: flex;
  
	justify-content: space-around;
  
	font-weight: 700;
  
	list-style-type: none;
  
	margin: 0 auto;
	padding: 0;

	}



.nav .name	{
    
	display: block;
    
	margin-right: auto;
    
	color: white;

	}


.nav li	{
  
	padding: 10px 10px 10px 10px;

	}


.nav a	{
  
	transition: all .3s;

	}


.nav a:hover	{
  
	color: white;

	}


/********************************
HEADER STYLING
*********************************/



header	{
  
	text-align: center;

	background-size: cover;
  
	overflow: hidden;
  
	line-height: 1.5;
	}

.title	{
	background-color: #efefef;
  
	color: black;
  
	padding: 10px;
  
	border-radius: 5px;
  
	display: table;
  
	margin: 10px auto;
	}

/***************************************
MAIN
****************************************/



.card	{
  
	margin: 20px;
  
	padding: 20px 40px 40px;
  
	max-width: 500px;

	max-height: 500px;
	text-align: left;
  
	background: #fff;
  
	border-bottom: 4px solid #ababab;
  
	border-top: 4px solid #ababab;
	border-radius: 6px;
  
	transition: all .5s;

	}


.card:hover	{
  
	border-color: #990000;

	}





/******************************************
FOOTER STYLING
*******************************************/


footer	{
  
	width: 100%;
  
	min-height: 30px;
  
	padding: 40px 0 30px 0px;

	background: #fff;
	}



footer .copyright	{
  
	top: -8px;
  
	font-size: .75em;

	}



footer ul	{
  
	list-style-type: none;
  
	margin: 0;
  
	padding: 0;

	}



footer ul li	{
  
	display: inline-block;

	}



/*-- social icon --*/

a.social	{
  
	display: inline-block;
  
	text-indent: -9999px;
  
	margin-left: 5px;
  
	width: 30px;
  
	height: 30px;
  
	background-size: 30px 30px;
  
	opacity: .4;
  
	transition: all .5s;

	}

a.github	{
  
	background-image: url(images/github.svg);

	}


a.social:hover	{
  
	opacity: 1;

	}


.clearfix	{
  
	clear: both;

	}